<section class="current">
  <div class="title">
    <%= @playlist.currently_playing.title %>
  </div>

  <iframe width="100%"
          height="450"
          scrolling="no"
          frameborder="no"
          src="<%= @playlist.currently_playing.soundcloud_url %>">
  </iframe>
</section>

<aside class="queue">
  <% @playlist.queue.each do |song| %>
    <div class="song">
      <div class="title"><%= song.title %></div>
    </div>
  <% end %>
</aside>
